body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 60px;
}
a {
  text-decoration: underline;
}
a:link, a:visited {
  color: #fdfaf5;
}
a:hover, a:active {
  color: white;
}

/* Created classes*/

.circle-img {
  border-radius: 50%;
}
a.icon-link-dark:link, a.icon-link-dark:visited {
  color: black;
  text-decoration: none;
}
a.icon-link-dark:hover, a.icon-link-dark:active {
  color: black;
  text-decoration: none;
}
a.icon-link-light:link, a.icon-link-light:visited {
  color: #fdfaf5;
  text-decoration: none;
}
a.icon-link-light:hover, a.icon-link-light:active {
  color: white;
  text-decoration: none;
}
a.text-link-dark:link, a.text-link-dark:visited {
  color: black;
}
a.text-link-dark:hover, a.text-link-dark:active {
  color: black;
}
.dark {
  color: #173e67;
}
.light {
  color: #fdfaf5;
}

/* Created ids*/

#intro-block {
  background-image: url(https://jwaynedavidson.com/img/houston_backgroundblue.svg);
  background-size: cover;
  color: #fdfaf5;
}
#about-block {
  background-color: #fdfaf5;
  color: #fdfaf5;
}
#skills-block {
  background-image: url(https://jwaynedavidson.com/img/houston_backgroundblue.svg);
  background-size: cover;
  color: black;
}
#portfolio-block {
  background-color: #fdfaf5;
  color: black;
}
#contact-block {
  background-image: url(https://jwaynedavidson.com/img/houston_backgroundblue.svg);
  background-size: cover;
  color: black;
}

/* modified fullPage.js classes */

.fp-controlArrow.fp-prev {
  border-color: transparent #173e67;
  transparent transparent;
}
.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #173e67;
  ;
}

/* Modified bootstrap classes */

.img-responsive {
  margin: 0 auto;
}
.panel-dark {
  background-color: #173e67;
  border: none;
}
.panel-light {
  background-color: #fdfaf5;
  border: none;
}
.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
