body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: black;
}
h1 {
  font-size: 40px;
}
a {
  text-decoration: underline;
}
a:link, a:visited {
  color: #fdfaf5;
}
a:hover, a:active {
  color: white;
}


/* Created classes*/

a.icon-link-dark:link, a.icon-link-dark:visited {
  color: black;
  text-decoration: none;
}
a.icon-link-dark:hover, a.icon-link-dark:active {
  color: black;
  text-decoration: none;
}
a.icon-link-light:link, a.icon-link-light:visited {
  color: #fdfaf5;
  text-decoration: none;
}
a.icon-link-light:hover, a.icon-link-light:active {
  color: white;
  text-decoration: none;
}
a.text-link-dark:link, a.text-link-dark:visited {
  color: black;
}
a.text-link-dark:hover, a.text-link-dark:active {
  color: black;
}
.dark {
  color: #173e67;
}
.light {
  color: #fdfaf5;
}
.houston-background {
  background-image: url(https://jwaynedavidson.com/img/houston_backgroundblue.jpg);
  background-size: cover;
}
.white-background {
  background-color: #fdfaf5;
}


/* modified fullPage.js classes */

.fp-controlArrow.fp-prev {
  border-color: transparent #173e67;
  border-width: 16px 16px 16px 0;
  border-radius: 4px;
}
.fp-controlArrow.fp-next {
  border-color: transparent #173e67;
  border-width: 16px 0 16px 16px;
  border-radius: 4px;
}
[data-anchor="skills"] .fp-controlArrow.fp-prev {
  border-color: transparent #fdfaf5;
}
[data-anchor="skills"] .fp-controlArrow.fp-next {
  border-color: transparent #fdfaf5;
}

/* Modified bootstrap classes */

.btn {
  border-radius: 0 !important;
}
.slide {
  padding: 15px 15px 15px 15px;
}
.img-responsive {
  margin: 0 auto;
}
.panel {
  border-radius: 0;
}
.panel-dark {
  background-color: #173e67;
  border: none;
}
.panel-light {
  background-color: #fdfaf5;
  border: none;
}
.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
